.botao_header:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.botao_header {
    transition: 0.15s ease-in-out;
}

.botao_get_started_for_free_um:hover {
    transform: scale(1.05);
    cursor: pointer;
    animation: pulsate 
    1s ease-in-out;
}

.botao_get_started_for_free_um {
    transition: 0.15s ease-in-out;
}

.botao_get_started_for_free_dois:hover {
    transform: scale(1.05);
    cursor: pointer;
    animation: pulsate 
    1s ease-in-out;
}

.botao_get_started_for_free_dois {
    transition: 0.15s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow:
        0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
}

/* icones do rodapé */ 


.facebook:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.facebook {
    transition: 0.15s ease-in-out;
}

.twitter:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.twitter {
    transition: 0.15s ease-in-out;
}

.instagram:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.instagram {
    transition: 0.15s ease-in-out;
}
